<%- include ('./partials/navbar.ejs',{username:username}) %>
<%- include ('./partials/sidebar.ejs',{username:username}) %>
<%- include ('./partials/header.ejs') %>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Categories</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Add Categories</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <form action="<%= (editcate)?'/admin/updatecategory/'+editcate._id:'/categories'%>" method="post">
                <div class="card-body p">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Category Name</label>
                    <input type="text" name="catname" class="form-control" value="<%= (editcate)? editcate.catname: '' %>" placeholder="Enter category name">
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bordered Table</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Category</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      
                    </tr>
                   
                    
                  </tbody>
                  <% if(getAllCat) { %>
                    <% getAllCat.forEach((item,id)=>{ %>
                        <tr>
                            <td><%= id+1 %></td>
                            <td><%= item.catname %></td>
                            <td>
                              <button class="btn btn-outline-success"><a href="/admin/editcate/<%= item._id%>">Edit</a></button>
                              <button class="btn btn-outline-danger"><a href="/admin/deletecate/<%= item._id%>">Delete</a></button>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
                </table>
              </div>
            </div>
          </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <%- include ('./partials/footer.ejs') %>